.card {
    @apply relative bg-white rounded-2xl p-4 shadow-xl shadow-slate-200/40 border border-slate-100 flex flex-row justify-between hover:border-greenPrimary/40 transition-colors;
}

.card-title {
    @apply flex gap-2 m-1 font-bold text-slate-500 uppercase tracking-wide mb-3 items-center;
}

.copy-btn {
    @apply relative rounded-full p-1 hover:bg-greenPrimary/10 text-slate-400/80 hover:text-greenPrimary transition-colors;
}

.copy-msg {
    @apply absolute -bottom-4 text-[10px] text-greenPrimary font-semibold transition-opacity duration-200;
}

.tag {
    @apply px-2.5 py-1 text-sm font-semibold bg-greenPrimary/10 text-greenDark border border-greenPrimary/20 rounded-full;
}

.info-section {
    @apply h-full w-full flex flex-col justify-between;
}

.results-section {
    @apply w-full max-w-6xl animate-fade-in-up grid grid-cols-1 md:grid-cols-3 gap-6 md:gap-8;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 0.7s ease-out forwards;
}